<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
            xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
 
    <global-method-security pre-post-annotations="enabled" />
 
    <http auto-config="true">
        <intercept-url pattern="/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/" access="ROLE_ADMIN, ROLE_USER" />
        <intercept-url pattern="/addUser.html" access="ROLE_ADMIN" />
        <form-login login-page="/login.html" default-target-url="/" authentication-failure-url="/login.html?login_error=1" />
        <logout logout-success-url="/login.html"/>
    </http>
 
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="md5"/>
            <user-service>
                <user name="jtechlog" password="26b91b96e2e8adc37cd26cff6a6b2eba" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>     
        <authentication-provider user-service-ref="userService">
            <password-encoder hash="md5"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>